{{ $s := newScratch }}
{{ $s.Set "data" dict }}
{{ $meta := slice }}

{{ with . }}
  {{ with .date }}
    {{ $s.SetInMap "data" "date" . }}
  {{ end }}
  {{ with .binding }}
    {{ $s.SetInMap "data" "binding" (humanize .)}}
  {{ end }}
  {{ with .cover_image }}
    {{ $s.SetInMap "data" "cover" . }}
  {{ end }}
  {{ with .isbn }}
    {{ $meta = $meta | append (dict "label" "ISBN" "value" .) }}
  {{ end }}

  {{with .sales_data.price_us}}
    {{ $meta = $meta | append (dict "label" "Price US" "value" .) }}
  {{end}}

  {{with .sales_data.price_cn}}
    {{ $meta = $meta | append (dict "label" "Price CN" "value" .) }}
  {{end}}

  {{with .sales_data.trim_size}}
    {{ $meta = $meta | append (dict "label" "Trim Size" "value" .) }}
  {{end}}

  {{with .sales_data.page_count}}
    {{ $meta = $meta | append (dict "label" (humanize "page_count") "value" .) }}
  {{end}}

  {{ $s.SetInMap "data" "meta" $meta }}

{{ end }}

{{ return $s.Get "data" }}