{{/*
  GetAvailability
  Retrieve the availability of a book by comparing its latest edition's date with present time.

  @author @regisphilibert

  @context Page (.)

  @access public

  @returns False or String

  @use
    - tnd-books/private/GetDateFormat
    - tnd-books/GetLatestEdition
    - tnd-books/IsPublished
  
*/}}
{{ $available := false }}
{{ $date_format := partialCached "tnd-books/private/GetDateFormat" "GetDateFormat" }}
{{ with partialCached "tnd-books/GetLatestEdition" . . }}
  {{ if not (partial "tnd-books/IsPublished" .) }}
    {{ with .date }}
      {{ $available = . | dateFormat $date_format}}
    {{ end }}
  {{ end }}
{{ end }}

{{ return $available }}