{{/*
  GetBookReviews
  Retrieves reviews related to a given book

  @author @regisphilibert

  @context Page (.)

  @access private

  @returns Slice of strings

  @uses
      - Type

  @example - Go Template
    {{ with partialCached "tnd-books/private/GetBookReviews" $ $ }}
      {{ something = . }}
    {{ end }}
*/}}
{{ $reviews := slice }}
{{ with .Params.reviews }}
    {{ range . }}
      {{ $reviews = $reviews | append (partialCached "tnd-books/private/GetReview" . .) }}
    {{ end }}
{{ end }}

{{ return $reviews }}