{{/*
  Return BuyLink URL corresponding to Service and ISBN

  @author @regisphilibert

  @context Map
            String (.service)
            String (.ISBN)

  @access public

  @example - Go Template
    {{ $url := partial "tnd-books/private/GetBuyLinkURL" (dict "service" "amazon" "isbn" $isbn) }}
*/}}
{{ $retailer := .retailer }}
{{ $edition := .edition }}
{{ $url := false }}
{{/* Only default books require the ISBN. */}}
{{ with $isbn := $edition.isbn }}
  {{ if in $isbn "-" }}
    {{ $isbn = replace $isbn "-" "" }}
  {{ end }}
  {{ if partial "tnd-books/private/IsISBNValid" $isbn }}
    {{ if eq $.retailer "barnesandnoble" }}
      {{ $url = printf "https://www.barnesandnoble.com/w/?ean=%v#/" . }}
    {{ else if eq $.retailer "bookshop" }}
      {{ $url = printf "https://www.bookshop.org/a/287/%s" . }}
    {{ else if eq $.retailer "libro" }}
      {{ $url = printf "//https://libro.fm/audiobooks/%s" . }}
    {{ else if eq $.retailer "amazon" }}
      {{ with partial "tnd-books/private/ISBNToASIN" $isbn }}
        {{ $url = printf "https://www.amazon.com/dp/%s" . }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{ with $asin := $edition.asin }}
  {{ if eq $retailer "amazon" "kindle" "audible" }}
    {{ $url = printf "https://www.amazon.com/dp/%s" $asin }}
  {{ end }}
{{ end }}

{{/* Audio retailers only need a dedicated parameter in the edition foramted as {retailer}_url */}}
{{ range slice "audible" "apple_books" }}
  {{ if eq $retailer . }}
    {{ with index $edition (printf "%s_url" .) }}
      {{ $url = . }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return $url }}