{{/*
  Return BuyLink URL corresponding to Service and ISBN

  @author @regisphilibert

  @context Map
            String (.service)
            String (.ISBN)

  @access public

  @example - Go Template
    {{ $url := partial "tnd-books/private/GetBuyLinkURL" (dict "service" "amazon" "isbn" $isbn) }}
*/}}
{{ $retailer := .retailer }}
{{ $edition := .edition }}
{{ $url := false }}
{{ $isbn := false }}
{{ $asin := false }}
{{ with $edition.isbn }}
  {{ $isbn = . }}
  {{ if in . "-" }}
    {{ $isbn = replace $isbn "-" "" }}
  {{ end }}
  {{ if not (partialCached "tnd-books/private/IsISBNValid" $isbn $isbn) }}
    {{ partial "tnd-books/warn" (printf "ISBN `%s` is not a valid ISBN" $isbn) }}
    {{ $isbn = false }}
  {{ end }}
{{ end }}

{{ with $edition.asin }}
  {{ $asin = . }}
{{ end }}

{{/* Only default books require the ISBN. */}}
{{ with $isbn }}
  {{ if eq $.retailer "amazon" }}
    {{/* For paper edition, amazon URL expects an ISBN10 */}}
    {{ with partial "tnd-books/private/ISBN13ToISBN10" . }}
      {{ $url = printf "https://www.amazon.com/dp/%v" . }}
    {{ end }}
  {{ else if eq $.retailer "barnesandnoble" "barnesandnoble_nook" }}
    {{ $url = printf "https://www.barnesandnoble.com/w/?ean=%v#/" . }}
  {{ else if eq $.retailer "bookshop" }}
    {{ $url = printf "https://www.bookshop.org/a/287/%v" . }}
  {{ else if eq $.retailer "libro" }}
    {{ $url = printf "https://libro.fm/audiobooks/%v" . }}
  {{ end }}
{{ end }}

{{/* If ASIN is found or built, we can build the following: */}}
{{ with $asin }}
  {{ if eq $retailer "amazon" "amazon_kindle" "kindle" "audible" "amazon_audible" }}
    {{ $url = printf "https://www.amazon.com/dp/%v" $asin }}
  {{ end }}
{{ end }}

{{/* Some retailers only need a dedicated parameter in the edition foramted as {retailer}_url */}}
{{ range slice "audible" "amazon_audible" "apple_books" }}
  {{ if eq $retailer . }}
    {{ with index $edition (printf "%s_url" .) }}
      {{ $url = . }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return $url }}