{{/*
  GetDefaultRetailers
  Returns a list of default retailers

  @author @regisphilibert

  @context Any (.)

  @access private

  @returns Slice of Maps
      - String (.id)
        String (.label)

*/}}
{{ return (`
  # - id: bookshop
  #  label: Your Independent Bookstore
  - id: barnesandnoble
    label: Barnes & Noble
  - id: barnesandnoble_nook
    label: Barnes & Noble Nook
  - id: amazon
    label: Amazon
  - id: amazon_audible
    label: Amazon Audible
  - id: amazon_kindle
    label: Amazon Kindle
  - id: apple_books
    label: "Apple Books"
  ` | transform.Unmarshal) }} }}