{{/*
  GetEditionEBook
  Retrieve the latest edition considered as "EBook".

  @author @regisphilibert

  @context Page (.)

  @access private

  @returns Map
    See tnd-books/private/ParseEdition@returns

  @uses
     - tnd-books/GetEditions

  @example - Go Template
    {{ with partialCached "GetEditionEBook" . . }}
      {{ something = . }}
    {{ end }}
*/}}
{{ $edition := dict }}
{{ $args := dict "Page" $ "bindings" (slice "ebook") }}
{{ with partial "tnd-books/GetEditions" $args }}
  {{ with index . 0 }}
    {{ $edition = . }}
  {{ end }}
{{ end }}

{{ return $edition }}